/******* general info *******/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;
}

.relative{
    position: relative;
}

/******* inizio header *******/


.navbar{
    background-color: #ff6900;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.logo img{
    width: 150px;
}

.navbar a{
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.cart i{
    color: white;
}

.cart i:hover{
    color: white;
    transform: scale(1.3);
}

/******* inizio main *******/

.container{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 30px;

}

.box_image{
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;
    width: calc(100% / 3 - 40px);
    height: 500px;
    background-color: red;
}

.box_image_1{
    background-image: url(../boolando-images/img/1.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_1:hover{
    background-image: url(../boolando-images/img/1b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_2{
    background-image: url(../boolando-images/img/2.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_2:hover{
    background-image: url(../boolando-images/img/2b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_3{
    background-image: url(../boolando-images/img/3.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_3:hover{
    background-image: url(../boolando-images/img/3b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_4{
    background-image: url(../boolando-images/img/4.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_4:hover{
    background-image: url(../boolando-images/img/4b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_5{
    background-image: url(../boolando-images/img/5.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_5:hover{
    background-image: url(../boolando-images/img/5b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_6{
    background-image: url(../boolando-images/img/6.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.box_image_6:hover{
    background-image: url(../boolando-images/img/6b.webp);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.heart{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 5px;
    background-color: white;
    font-size: 40px;
}

.box_image:hover .heart{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 5px;
    background-color: white;
    color: red;
}

.discount{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 50px;
    color: white;
    font-size: 14px;    
}

.discount_red{
    background-color: red;
    padding: 5px 10px 5px 10px;
}

.discount_green{
    background-color: green;
    padding: 5px 10px 5px 10px;
}

.description{
    background-color: white;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 1px;
}

.price_1{
    color: rgb(224, 0, 0);
    font-size: 12px;
}

.price_2{
    text-decoration: line-through;
}

/******* inizio footer *******/
footer span{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.footer_bar{
    background-color: #1a1a1a;
    padding: 30px;
    color: white;
    font-size: 10px;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    z-index: 3;
}

.social_media i{
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin: 2px;
}
.social_media i:hover{
        font-size: 12px;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        color: black;
        margin: 2px;
        transform: scale(1.2);
}